@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

/*global*/
* {
    margin: 0;
    padding: 0;
}
 
body {
    font-family: 'Roboto', sans-serif;
    background-color:rgba(221, 255, 253, 0.767);
    
    
    
    
}

.btnStyle{
    background-color: Transparent;
    background-repeat: no-repeat;
    border: 1px solid turquoise;
    cursor: pointer;
    color: black;
    padding: 20px;
    border-radius: 60px;
    font-size: 20px;
}

.btn{
    float:right;
    margin-top: 335px;
    margin-right: 194px;
}
#btnAPI{
    display: none;
    float: right;
    margin-top: 1574px;
    margin-right: 90px;
}

#btnFuncionario{
    float: right;
    display: none;
    margin-left: -350px;
    margin-top: 1574px;

}
/*Fim Global*/

/*Header*/
.header {
    background-color: #fff;
    min-height: 100px;
    background-size:cover;
 }

 .header2{
     background-color:rgba(221, 255, 253, 0.767);
     height: 140px;
     margin-bottom: 100px;

 }
 
 .header img {
     width: 350px;
     background-size: cover;
     padding: 20px 0 0 30px;
    
 }

 /*nav*/

.nav {
    float:right;
    margin-right: 50px; 
  ; 
}

.nav li {
    display: inline-block;
    padding: 30px 30px 0 20px;
    
  
}

 .nav a {
    text-decoration: none;
    color: black;
    font-size: 28px;
 
 }

 .nav img {
     width: 45px;
     padding-left:50px;
 }


 #titulo_medicoes{
     font-size: 70px;
 }

 .bloco_temperatura{
     text-align: center;
 }

 .temperatura1{
    background-color: rgb(255, 0, 0);
    height: 200px;
    width: 233px;
    border-radius: 7px;
    margin-left: 20px;
    text-align: center;
    display: inline-block;
    margin-top: 50px;
}
.temperatura1 p {
    font-size: 28px;
    padding-top: 20px;
font-weight: bold;
}
.temperatura1 h2 {
font-size: 70px;
padding-top: 15px;
}


.temperatura2{
    background-color: #0000ff;
    height: 200px;
    width: 233px;
    border-radius: 7px;
    margin-left: 20px;
    text-align: center;
    display: inline-block;
    margin-top: 50px;
}
.temperatura2 p {
    font-size: 28px;
    padding-top: 20px;
font-weight: bold;
}
.temperatura2 h2 {
font-size: 70px;
padding-top: 15px;
}


 /*footer*/
.footer img {
    width: 40px;
}


.footer li {
    display: inline-block;
    padding: 20px 30px 0px 30px;

}

.footer ul {
    float: right;
    margin-right: 40%;
}

.footer {
    background-color: turquoise;
    height: 100px;
    margin-top: 80px;
}

/*fim do footer*/


/*Inicio Grafico*/
canvas{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.grafico_principal{
    width:50%;
    margin: 0 auto;
}

h1{
    text-align: center;
}


.admin{
    display: none;
}
/*Fim Grafico*/

/*  Graficos    */

h3 {
    text-align: center;
}