@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

/*global*/
html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    background-color: rgba(127, 255, 212, 0);
}

body {
    font-family: 'Roboto', sans-serif;
    
}

/*Header*/
.header {
    background-image: url(img/back.jpg);
    min-height: 900px;
    background-size: cover;
}

.header img {
    width: 350px;
    background-size: cover;
    padding: 20px 0 0 30px;
}

/*Fim do Header*/

/*button*/
.btn {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: 1px solid #fff;
    cursor: pointer;
    color: #fff;
    padding: 20px;
    border-radius: 60px;
    font-size: 20px;

}

.btn-div {
    padding-top: 30px;
    
}

.btn-div button:hover{
    background-color: white;
    opacity: 0.9;
    color: black;
    
}

/*fim do button*/

/*nav*/

.nav {
    float: right;
    margin-right: 50px;
    
}

.nav li {
    display: inline-block;
    padding: 30px 30px 0 20px;


}

.nav a {
    text-decoration: none;
    color: white;
    font-size: 28px;

}

.nav img {
    width: 45px;
    padding-left: 50px;
}

/*fim do nav*/


/*showcase*/
.showcase {
    padding-left: 60px;
}


.showcase p {
    color: #fff;
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
}

/*fim showcase*/

/*Inicio Segunda Parte*/
.box-item {
    padding-top: 70px;
    width: 50%;
    margin: 0 auto;
}

.box-item p {
    position: relative;
    left: 100px;
    bottom: 60px;
    font-size: 20px;
}

.box-item h1 {
    font-size: 40px;
    text-align: center;
    border-top: 1px solid #40E0D0;
    border-left: 1px solid #40E0D0;
    height: 100px;
    width: 600px;
    padding: 30px;

}

.box-item p {
    text-align: center;

}

/*Fim Segunda parte*/

/*Terceira parte*/
.third {
    background-image: url(img/imagemprecos.png);
    min-height: 900px;
    background-size: cover;
}



.btn-blue {
    border: none;
    background-color: #00CBB6;
    margin-top: 20px;
    margin-left: 230px;
}

/*Fim Terceira parte*/



/*funcionalidades*/
.container {
    overflow: auto;
    text-align: center;
}

.container img {
    width: 200px;
    overflow: auto;
}

.boxes {
    
    float: left;
    margin-left: 300px;
    padding-top: 50px;
    padding-bottom: 90px;
}

.boxes .box-container {
    float: left;
    width: 350px;
}

.boxes h2 {
    font-size: 70px;
    padding-bottom: 150px;
    
}

.boxes p {
    font-size: 30px;
    padding-top: 20px;
   
}
/* inicio do planos */



.third h1{
text-align: center;
color: white;
padding-top: 30px;

}

.block{
    display: inline-block;
}

.box-itemm{
background-color: #03CBB6;
width: 400px;
height: 600px;
text-align: center;
padding-top: 60px;
margin-left: 100px;
margin-top: 30px;
border-radius: 10px;
padding: 0px 27px 0px 27px;
}


.box-itemm h3{
font-size: 40px;
padding-top: 15px;
}

.box-itemm p{
font-size: 23px;
}

.box-itemm h2{
padding-top: 20px;
font-size: 40px;
}

.box-itemm button{
margin-top: 35px;
width: 220px;
height: 60px;
border-radius: 15px;
color:black;
background-color: white;
opacity: 0.8;
cursor: pointer;

}

.box-itemm button:hover{
opacity: 1;
}

#paragrafo{
    padding-top: 40px;
}

.box-itemm p{
padding-top: 10px;
padding-bottom: 30px;


}





/*funcionalidades*/

/*Inicio História*/
.history {
    background-image: url(img/img5.jpg);
    height: 1000px;
    background-size: cover;
    color: #fff;

}

.history img{
    width: 300px;
    padding:50px 0 0 50px;
}

#paragraph1 {
    font-size: 40px;
    border-left: 1px solid #40E0D0;
    border-top: 1px solid #40E0D0;
    width: 500px;
    height: 200px;
    float:right;
    padding:40px;
}

#paragraph2 {
    font-size: 40px;
    border-right: 1px solid #40E0D0; 
    border-top: 1px solid #40E0D0;
    height: 200px;
    width: 600px;
    float: left;
    padding:40px;
}

.p1-box{
    padding-right:300px;
    
}

.p2-box{
    padding:200px 0 0 100px;

}


/*Fim História*/

/*footer*/
.footer img {
    width: 40px;
}

.contaner_footer{
    padding-top: 10px ;
}


.footer li {
    display: inline-block;
    padding: 20px 30px 0px 30px;

}

.footer ul {
    float: right;
    margin-right: 40%;
}

.footer {
    background-color: turquoise;
    height: 100px;
}

/*fim do footer*/